
<!--<div class="bs-callout bs-callout-primary">-->
    <!--<h4>Wyślij wiadomość e-mail</h4>-->
    <!--Skontaktuj się z nami za pomocą poniższego formularza-->
<!--</div>-->
<div style="margin-top:50px; width:100%"></div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="well well-sm">
                <form class="form-horizontal" method="post">
                    <fieldset>
                        <legend class="text-center">Formularz kontaktowy</legend>

                        <!-- Name input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="name">Imię</label>
                            <div class="col-md-9">
                                <input id="name" name="name" type="text" placeholder="imię" class="form-control">
                            </div>
                        </div>

                        <!-- Email input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="email">Adres email</label>
                            <div class="col-md-9">
                                <input id="email" name="email" type="text" placeholder="email" class="form-control">
                            </div>
                        </div>

                        <!-- Message body -->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="message">Treść</label>
                            <div class="col-md-9">
                                <textarea class="form-control" id="message" name="message" placeholder="Wpisz treść wiadmości..." rows="5"></textarea>
                            </div>
                        </div>

                        <!-- Form actions -->
                        <div class="form-group">
                            <div class="col-md-12 text-right">
                                <button class="btn btn-primary btn-lg" ng-click="sendMess()">Wyślij</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="well well-sm">
                <h3 style="line-height:20%;"><i class="fa fa-home fa-1x" style="line-height:6%;color:#337ab7"></i> Adres:</h3>
                <p style="margin-top:6%;line-height:35%">Lublin ul. Wincentego Witosa 33/4b</p>
                <br />
                <h3 style="line-height:20%;"><i class="fa fa-envelope fa-1x" style="line-height:6%;color:#337ab7"></i> E-Mail:</h3>
                <p style="margin-top:6%;line-height:35%">info@biuro-crm.com</p>
                <br />
                <h3 style="line-height:20%;"><i class="fa fa-user fa-1x" style="line-height:6%;color:#337ab7"></i> Osoba kontaktowa:</h3>
                <p style="margin-top:6%;line-height:35%">Kowalski Jan</p>
                <br />
                <h3 style="line-height:20%;"><i class="fa fa-phone fa-1x" style="line-height:6%;color:#337ab7"></i> Telefon:</h3>
                <p style="margin-top:6%;line-height:35%">+48 876354768</p>
            </div>
        </div>
    </div>
    <!--<div class="row">-->
        <!--<div class="col-sm-6">-->
            <!--<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d9988.49513567861!2d22.569996949999997!3d51.2536302!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spl!2spl!4v1485040705379" width="1000" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>    </div>-->
        <!--</div>-->
    <!--</div>-->
<div style="margin-bottom: 150px;"></div>

