<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation" style="border: none;">
    <div class="container">
        <table class="col-sm-4" style="margin: 10px 0 10px 100px;">
            <tr>
                <td><i class="fa fa-home fa-1x" style="line-height:26%;color:#a0a0a0"></i></td>
                <td class="footer-contact">Lublin ul. Wincentego Witosa 33/4b</td>
            </tr>
            <tr>
                <td class="fa fa-envelope fa-1x" style="line-height:26%;color:#a0a0a0"></td>
                <td class="footer-contact">info@biuro-crm.com</td>
            </tr>
            <tr>
                <td class="fa fa-phone fa-1x" style="line-height:26%;color:#a0a0a0"></td>
                <td class="footer-contact">+48 876354768</td>
            </tr>
        </table>
        <div class="navbar-text pull-right">
            &copy;&nbsp;<span id="currentYear"></span>
            <b>CRM</b>system <br />All right Reserved
        </div>
    </div>
</div>