<!DOCTYPE html>
<html lang="pl">
<head>
    <base href="/crm_system/" />
    <meta charset="UTF-8">
    <script src="application/media/js/jquery-3.1.1.min.js"></script>
    <script src="application/media/angular/angular.js"></script>
    <script src="application/media/angular/angular-route.js"></script>
    <script src="application/media/bootstrap/js/bootstrap.js"></script>
    <script src="application/media/angular/docs/js/angular-bootstrap/dropdown-toggle.js"></script>
    <script src="application/media/js/angular_1_router.js"></script>
    <script src="application/Components/components.js"></script>
    <script src="application/media/js/script.js"></script>
    <link rel="stylesheet" href="application/media/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="application/media/css/style.css">
    <!--<link rel="stylesheet" href="application/media/css/ext.css">-->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <title>CRM-system</title>
</head>
<body ng-app="myApp.component" >
    <login-bar></login-bar>
        <side-menu></side-menu>
            <my-app></my-app>
    <footer></footer>
</body>
</html>